<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softcodes.gabbagecollector">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GabbageCollector">
        <activity
            android:name=".CollectionCenters"
            android:exported="true"
            android:label="Collection Areas"
            android:parentActivityName=".UserHome"
            android:theme="@style/AppTheme2"/>
        <activity
            android:name=".admin.AddCollection"
            android:exported="true"
            android:label="Add Collection Area"
            android:parentActivityName=".admin.AdminHome"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".admin.ViewGarbage"
            android:exported="true"
            android:label="Areas with Garbage"
            android:parentActivityName=".admin.AdminHome"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".admin.AdminHome"
            android:exported="true" />
        <activity
            android:name=".PostGabbage"
            android:exported="true"
            android:label="Share Garbage Location"
            android:parentActivityName=".UserHome"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".UserHome"
            android:exported="true" />
        <activity
            android:name=".Register"
            android:exported="true"
            android:label="Create Account"
            android:parentActivityName=".Login"
            android:theme="@style/AppTheme2" />
        <activity
            android:name=".Login"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>